* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.card {
  display: grid;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 1px 3px 6px 1px rgba(44, 44, 44, 0.5);
  padding: 4px;

  img {
    width: 80%;
  }
}
